* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #173f74;
}

h1 {
    text-align: center;
    margin: 50px 0px;
    color: #000000;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#qrReader {
    width: 500px;
    border: 1px solid #000000;
}

#qrResult {
    text-align: center;
    margin-top: 10px;
    color: #000000;
    font-weight: 600;
}